<!-- views/admin/siteMap.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site Haritası</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            padding: 20px;
            text-align: center; /* Başlık ve resim için merkezi hizalama */
        }
        h1 {
            text-align: center;
        }
        .center {
            text-align: center;
        }
        img {
            width: 600px; /* Resim genişliğini arttır */
            height: auto; /* Resmin oranlarını koru */
        }
    </style>
</head>
<body>
    <h1>Site Haritası</h1>
    <div class="center">
        <img src="/images/sitemap.png" alt="Site Haritası Görseli">
    </div>
</body>
</html>
